body {  
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
}
.wrapper{
    margin: 0 auto;
    width: 750px;
}
blockquote {
    
  font-size: 130%;
  font-style: italic;
  font-family: Georgia, Times, serif;
  margin: 0px 0px 10px 10px;
  padding: 10px;
  border-top: 1px solid #665544;
  border-bottom: 1px solid #665544;
}

